@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(19, 25, 33);
}

nav .logo {
    text-decoration: none;
    color: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

nav .logo .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

nav .logo .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.searchForm {
    display: flex;
}

input {
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    width: 300px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px 0px 0px 5px;
    color: hsl(0, 0%, 0%);
}

.search-btn {
    background-color: hsl(33, 95%, 70%);
    color: #fff;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn:hover {
    background-color: rgb(243, 168, 71);
    cursor: pointer;
}

.search-btn .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.search-btn .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0%;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

nav li a div:nth-child(2) {
    font-weight: 700;
}

nav li:nth-child(5) a {
    position: relative;
    display: flex;
    gap: 10px;
}

nav li:nth-child(5) a div {
    font-weight: 700;
}

.imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0%;
}

.products-container {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    z-index: -1;
}

.product-card {
    position: relative;
    display: flex;
    width: 300px;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
    z-index: -1;
}

.product-card .imgBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
}

.product-card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-card a {
    font-size: 2rem;
    text-decoration: none;
    color: #000;
}

.product-card a:hover {
    color: rgb(224, 158, 41);
}

.float-menu {
    position: absolute;
    top: 60px;
    right: 30%;
    width: 500px;
    height: 300px;
    background-color: #fff;
    filter: drop-shadow(0 0 0.35rem #000);
    z-index: 10000;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.login-btn {
    background-color: #ffd814;
    color: #000;
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-top: 20px;
    padding: 5px 50px;
    border-radius: 5px;
}

.login-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}